[project]
	description = logexpress daemon
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hyunsang Youn (wizehack)
[access "refs/for/refs/*"]
	read = group user/Hyunsang Youn (wizehack)
	push = group user/Hyunsang Youn (wizehack)
	label-Code-Review = -2..+2 group user/Hyunsang Youn (wizehack)
	label-Verified = -1..+1 group user/Hyunsang Youn (wizehack)
	rebase = group user/Hyunsang Youn (wizehack)
	removeReviewer = group user/Hyunsang Youn (wizehack)
	submit = group user/Hyunsang Youn (wizehack)
[access "refs/heads/*"]
	read = group user/Hyunsang Youn (wizehack)
	create = group user/Hyunsang Youn (wizehack)
	push = +force group user/Hyunsang Youn (wizehack)
	pushMerge = group user/Hyunsang Youn (wizehack)
[access "refs/tags/*"]
	push = +force group user/Hyunsang Youn (wizehack)
	pushTag = group user/Hyunsang Youn (wizehack)
	pushSignedTag = group user/Hyunsang Youn (wizehack)
